@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.font-Montserrat {
  font-family: "Monteserrat", serif;
}

@layer base {
  html {
    @apply text-grey06
  }
}



/*
.btn {
  @apply rounded-full w-full py-3 text-center font_h2_bold mx-4;
}

.btn-primary-darkbg {
  @apply bg-app_cream text-app_teal;
}

.btn-primary-darkbg:hover {
  @apply bg-app_dark_cream;
}

.btn-primary-lightbg {
  @apply bg-app_teal text-app_cream;
}

.btn-primary-lightbg:hover {
  @apply bg-app_dark_teal;
}

.btn-secondary {
  @apply border border-app_cream text-app_cream;
}

.btn-secondary:hover {
  @apply border-app_dark_cream text-app_dark_cream;
}

*/
.font_h1 {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0em;
  font-weight: 900;
}

.font_h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0em;
  font-weight: 600;
}

.font_h3 {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0em;
  font-weight: 600;
}

.font_body {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0em;
  font-weight: 400;
}

.font_body_secundary {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0em;
  font-weight: 400;
}

.font_label {
  font-family: "Indie Flower";
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0em;
  font-weight: 400;
}

.font_caption {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0em;
  font-weight: 600;
}


.address_input {
  @apply font-body text-grey06 block w-full px-4 py-3 border border-grey03 rounded-md shadow-sm;
}

.address_input:focus {
  @apply outline-none
}

.btn_primary_dark {
  @apply bg-ecovidrio_dark text-white font_h2 p-4 rounded-md w-full
}

.btn_primary_dark:focus {
  @apply bg-ecovidrio_darkclick
}

.btn_secondary {
  @apply text-ecovidrio_dark font_h2 p-4 rounded-md w-full m-4 border ring-ecovidrio_dark border-ecovidrio_dark border-2
}

.form-select {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
  background-size: 0.9rem;
  background-position: right 0.9rem center;
}

.buttom_increment {
  @apply flex justify-center items-center w-6 h-6 rounded-full text-white focus:outline-none bg-ecovidrio_dark 
}

.link_whatsapp {
  @apply font_h3 text-ecovidrio_dark mt-1 underline
}

.radio_label {
  @apply ms-2 text-grey06 font_body
}

/* globals.css */

/* Estilo base para los botones de radio */
.radio {
  @apply bg-white border border-black rounded-full cursor-pointer;
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  appearance: none; /* Eliminar el estilo predeterminado */
  position: relative;
}

/* Estilo cuando el botón de radio está seleccionado */
.radio:checked {
  @apply bg-ecovidrio_light border-ecovidrio_dark;
}

/* Para el círculo interior cuando el radio está seleccionado */
.radio:checked::after {
  @apply bg-ecovidrio_dark;
  content: '';
  display: block;
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  /*background-color: #065f46; /* Verde oscuro */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
