@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.font-Montserrat {
  font-family: "Monteserrat", serif;
}

@layer base {
  html {
    @apply text-grey06
  }
}



/*
.btn {
  @apply rounded-full w-full py-3 text-center font_h2_bold mx-4;
}

.btn-primary-darkbg {
  @apply bg-app_cream text-app_teal;
}

.btn-primary-darkbg:hover {
  @apply bg-app_dark_cream;
}

.btn-primary-lightbg {
  @apply bg-app_teal text-app_cream;
}

.btn-primary-lightbg:hover {
  @apply bg-app_dark_teal;
}

.btn-secondary {
  @apply border border-app_cream text-app_cream;
}

.btn-secondary:hover {
  @apply border-app_dark_cream text-app_dark_cream;
}

*/
.font_h1 {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0em;
  font-weight: 900;
}

.font_h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0em;
  font-weight: 600;
}

.font_h3 {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0em;
  font-weight: 600;
}

.font_body {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0em;
  font-weight: 400;
}

.font_medium {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0em;
  font-weight: 500;
}

.font_body_secondary {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0em;
  font-weight: 400;
}

.font_label {
  font-family: "Indie Flower";
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0em;
  font-weight: 400;
}

.font_caption {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0em;
  font-weight: 600;
}


.address_input {
  @apply font_body text-grey06 block w-full px-4 py-3 border border-grey03 rounded-md shadow-sm;
}

.address_input:focus {
  @apply outline-none
}

.btn_primary_dark {
  @apply bg-ecovidrio_dark text-white font_h2 p-4 rounded-md w-full
}

.btn_primary_dark:focus {
  @apply bg-ecovidrio_darkclick
}

.btn_secondary {
  @apply text-ecovidrio_dark font_h2 p-4 rounded-md w-full border ring-ecovidrio_dark border-ecovidrio_dark border-2
}

.form-select {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
  background-size: 0.9rem;
  background-position: right 0.9rem center;
}

.buttom_increment {
  @apply flex justify-center items-center w-6 h-6 rounded-full text-white focus:outline-none bg-ecovidrio_dark 
}

.link_whatsapp {
  @apply font_h3 text-ecovidrio_dark underline
}

.radio_label {
  @apply ms-2 text-grey06 font_body
}

/* globals.css */

/* Estilo base para los botones de radio */
.radio {
  @apply bg-white border rounded-full cursor-pointer me-1;
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  appearance: none; /* Eliminar el estilo predeterminado */
  position: relative;
}

/* Estilo cuando el botón de radio está seleccionado */
.radio:checked {
  @apply bg-ecovidrio_light border-ecovidrio_dark;
}

/* Para el círculo interior cuando el radio está seleccionado */
.radio:checked::after {
  @apply bg-ecovidrio_dark;
  content: '';
  display: block;
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  /*background-color: #065f46; /* Verde oscuro */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Clase para el input */
.input-with-float-label,
.input-with-float-label-error {

  position: relative;
  width: 100%;
}

.input-with-float-label input,
.input-with-float-label select{
  width: 100%;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  @apply border border-grey03 text-grey06 font_body  p-3
}

.input-with-float-label-error input,
.input-with-float-label-error select{
  width: 100%;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  @apply border border-error text-grey06 font_body  p-3
}

.input-with-float-label input:focus + label,
.input-with-float-label input:not(:placeholder-shown) + label,
.input-with-float-label select:focus + label,
.input-with-float-label select:valid + label,
.input-with-float-label-error input:focus + label,
.input-with-float-label-error input:not(:placeholder-shown) + label,
.input-with-float-label-error select:focus + label,
.input-with-float-label-error select:valid + label {
  transform: translateY(-24px);
  font-size: 12px;
  @apply text-grey06
}

.input-with-float-label select, 
.input-with-float-label-error select {
  appearance: none;
  background-color: transparent;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
  background-size: 0.9rem;
  background-position: right 0.9rem center;
  @apply appearance-none pr-8 pl-2 bg-no-repeat
}

/* Clase para el label */
.input-with-float-label label,
.input-with-float-label-error label {
  position: absolute;
  top: 12px;
  left: 0;
  pointer-events: none;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
  @apply text-grey04 mx-2 px-2 font_body bg-white
}

.summary {
  @apply px-4 pt-[32px]
}

.init-white-buttom {
  @apply flex bg-white items-center text-grey06 mx-4 px-4 py-3 h-[74px]
}

.politicaText {
  @apply font_body mb-5 ps-4
}

.politicaTitles {
  @apply font_h3 mb-5
}

.politicaLi {
  @apply font_body
}